version: "3.9"

services:
  client:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - api
    env_file:
      - .env

  api:
    build: ./api
    ports:
      - "5000:5000"
    depends_on:
      - mongo
      - redis
    env_file:
      - .env

  scraper:
    build: ./scraper-engine
    restart: on-failure
    depends_on:
      - mongo
      - redis
    env_file:
      - .env

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  mongo_data:
